body {
  background: black;
  padding: 32px;
  font-size: 24px;
  color: beige;
}

[v-cloak] {
  display: none;
}

.list-group-item {
  background-color: black;
  border-radius: 0 !important;
  margin-top: 4px;
  border: black;
  padding: 5px 5px 5px 15px;
  font-size: 120%;
}

.left {
  margin-right: 20px;
}

.right {
  margin-left: 60px;
}
