body {
  background: black;
  padding: 32px;
  font-size: 24px;
  color: beige;
}

[v-cloak] {
  display: none;
}

.list-group-item {
  background-color: black;
  border-radius: 0 !important;
  margin-top: 4px;
  border: black;
  padding: 5px 5px 5px 15px;
  font-size: 120%;
}

.larger {
  font-size: 130%;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 20px;
}

.col-sm {
  padding: 0;
}

.pad {
  padding-left: 12px;
  padding: right: 12px;
}

.dim {
  opacity: 0.7;
}
