#clock {
  margin-left: 0px;
  margin-top: -20px;
  margin-right: 26px;
  color: white;
}

#day {
  color: lightgrey;
  font-size: 24px;
  margin-top: 6px;
}

#date {
  color: peachpuff;
  font-size: 32px;
}

#list {
  margin-top: 16px;
  width: 100%;
}

.task {
  color: aquamarine;
}

.now {
  font-weight: bold;
  color: pink;
  background-color: #202020;
}

.tomorrow {
  color: lightgrey;
}

.time {
  color: lightgrey;
  margin-right: 2px;
}

#bus {
  text-align: right;
  padding-left: 42px;
  padding-top: -16px;
  margin-top: -6px;
  color: aquamarine;
  font-weight: bold;
  background: url(bus.svg);
  background-position: 0px 14px;
  background-size: 32px;
  background-repeat: no-repeat;
}
