<div id="calendar">
  <link rel="stylesheet" href="calendar/calendar.css">
  <div class="row">
    <div id="clock" class="col-sm pad big">{{time}}</div>
    <div class="col-sm pad">
      <div id="day" class="row smaller">{{day}}</div>
      <div id="date" class="row larger">{{date}} {{month}}</div>
    </div>
    <div id="bus" class="pad" v-if="buses!=undefined && buses.length">
      <div :class="{ larger: i==0, dim: i==1 }" v-for="(bus,i) in buses">{{bus}}'</div>
    </div>
  </div>
  <div class="row">
    <ul id="list" class="list-group">
      <li :class="itemClass(item)" v-for="item in items">
        <span class="time" v-if="item.time">{{item.time}}</span> {{item.summary}}
      </li>
    </ul>
  </div>
</div>
