#clock {
  margin-left: -5px;
  margin-top: -20px;
  margin-right: 56px;
  font-size: 320%;
  color: white;
}

#day {
  font-size: 90%;
  color: lightgrey;
}

#date {
  font-size: 130%;
  color: peachpuff;
}

#list {
  margin-top: 32px;
  width: 100%;
}

.task {
  color: aquamarine;
}

.now {
  font-weight: bold;
  color: pink;
  background-color: #202020;
}

.tomorrow {
  color: lightgrey;
}

.time {
  color: lightgrey;
  margin-right: 6px;
}
