#clock {
  margin-left: 12px;
  margin-right: 12px;
  color: white;
}

#day {
  color: lightgrey;
  font-size: 24px;
  margin-top: 6px;
}

#date {
  color: peachpuff;
  font-size: 32px;
}

#list {
  margin-top: 16px;
  width: 100%;
}

.task {
  color: aquamarine;
}

.now {
  font-weight: bold;
  color: pink;
  background-color: rgba(255,255,255,0.1);
}

.tomorrow {
  color: lightgrey;
}

.time {
  color: lightgrey;
  margin-right: 2px;
}

#bus {
  text-align: right;
  padding-left: 38px;
  padding-top: -16px;
  margin-top: -8px;
  color: aquamarine;
  font-weight: bold;
  background: url(bus.svg);
  background-position: 0px 14px;
  background-size: 32px;
  background-repeat: no-repeat;
}
