<div id="calendar">
  <link rel="stylesheet" href="calendar/calendar.css"/>
  <div class="row">
    <div id="clock" class="col-sm">{{time}}</div>
    <div class="col-sm">
      <div id="day" class="row">{{day}}</div>
      <div id="date" class="row">{{date}} {{month}}</div>
    </div>
  </div>
  <div class="row">
    <ul id="list" class="list-group">
      <li :class="itemClass(item)" v-for="item in items">
        <span class="time" v-if="item.time">{{item.time}}</span> {{item.summary}}
      </li>
    </ul>
  </div>
</div>
