#artist {
  color: peachpuff;
}

#name {
  width: 300px;
  padding-top: 8px;
  color: grey;
}

#volume {
  margin-left: 24px;
  min-height: 56px;
}

.control {
  padding-left: 18px;
  margin-top: 12px;
  opacity: 0.4;
}

.on {
  opacity: 1;
}
