.today-icon {
  margin-left: 56px;
  margin-top: -18px;
  margin-right: 14px;
}

#thermometer {
  margin-right: 24px;
  color: white;
}

.temp {
  font-size: 108%;
  width: 2em;
  text-align: right;
  color: lightgrey;
}

.decimal {
  font-size: 32px;
}

#max {
  color: pink;
}

#min {
  color: lightskyblue;
}

.forecast-icon {
  margin-bottom: -20px;
}

.forecast-cell {
  margin-top: 16px;
}

.forecasts {
  margin-top: 0px;
}

.forecast-temp {
  font-size: 108%;
  color: lightgrey;
}
